html {
    position: relative;
    min-height: 100%;
} 
body {
    width: 100%;
    height: auto;
    min-height: 100%;
    margin: 0 0 0 0;
    background-image: url('background.png');
    background-repeat: repeat;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}
.header {
    float: top;
    width: 100%;
    height: 11vw;
    margin: 0 auto;
    background: #222222; 
    border-bottom-style: solid;
    border-bottom-color: #c50000;
    box-shadow: 0px 0px 8px 2px #101010;
}
.container {
    width: 70%px;
    margin: 0 auto;
}
.logo {
    float: right;
    max-width: 100;
    max-height: 100;
}

.menu {
    float: left;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.menu h1 {
    color: #c50000;
    margin: 0 0 0 0;
    font-family: "Lobster Two";
    font-size: 4.8vw;
}
.menu p {
    color: #c5c5c5;
    font-size: 2vw;
    font-family: "Open Sans";
    margin: 0 0 0 0;
}
.menu a {
    color: #c5c5c5;
    text-decoration: none;
}
.menu a:hover {
    color: #c50000
}
.menu ul {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    list-style: none;
    margin-right: 2vw;
    display: inline-block;
}

.middle {
    min-height: 1vh;
    flex: 1 0 auto;
}
.content {
    width: 70%;
    margin: 0 auto;
    height: auto; 
    background: #222222;
    border-radius: 10px;
    border-style: solid;
    border-color: #222222;
    padding: 10,10,10,10;
    position: relative;
    box-shadow: 0px 0px 8px 2px #101010;
}
.content p {
    color: #c5c5c5;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Gentium Basic";
    font-size: 1.5vw;
}
.footer {
    width: 100%;
    height: 11vw;
    left: 0;
    bottom: 0;
    background: #222222; 
    border-top-style: solid;
    border-top-color: #c50000;
    box-shadow: 0px 0px 8px 2px #101010;
}

.footer p {
    text-align: center;
    color: #c50000;
    bottom: 0;
    font-size: 1.5vw;
}