.row-divider
{
    box-shadow: 0 0 15px #000000;
    width: 100% - 20px;
    margin-bottom: 20px;
    height: 3px;
    background: #c50000;
    border-radius: 3px;
}
.jumbotron {
    margin-bottom: 15px;
    background-image: url(../img/jumboimage.png);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px #000000;
}
.jumbotron h1 {
    color: #222222
}
.jumbotron p {
    color: #222222
}
html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push {
          height: 75px;
      }
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #222222;
        box-shadow: 0 0 13px #000000; 
        border-top:3px solid #c50000 !important;
        text-align: center;
      }
      #footer .container p {
          color: #c5c5c5;
          font-size: 18px;
          padding-top: 16px;
      }

}
